@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is an our Bangali Restaurant. We awalys surves Bangali dish product. <br /> It is a famous Restaurant.</p>
</div>
